# Datasets -------------------------------------------------------------------------------------------------------------
data/*
train/*
test/*

experiments/*
runs/*
submission/*
ensemble/*

*.csv

__pycache__/
.ipynb_checkpoints/

env
